
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.main-title{
    width: 100%;
    padding: 1em;
    z-index: 4;
    background-color: white;
}

.search-profile{
    position: relative;
    transition: all 200ms ease-in-out;
    box-shadow: 5px 4px 1px 1px rgb(87, 86, 86);
    margin-bottom: 1em;
}

.search-reset{
    font-weight: 700;
    margin-inline:0.5em ;
    cursor: pointer;
    display: none;
    z-index: 2;
    overflow-x: hidden;
}

.search-profile__search{
    background-color: var(--clr-main-dark);
    width: 320px;
    position: relative;
    padding: 0.2em;
    z-index: 2;
    
    box-shadow: 5px -1px 1px 1px rgb(64, 63, 63);
}

.search-profile__form{
    display: flex;
    align-items: center;
    height: 2em;
    background-color: white;
    margin: 1em;
    z-index: 2;
    transition: all 200ms ease-in-out;
    border-radius: 7px;
    overflow: hidden;
}

.search-profile__form img{
    cursor: pointer;
    border-right: 1px solid grey;
}

.search-profile__form input{
    all: unset;
    width: 90%;
    border: none;
    color: black;
    margin-left: 0.5em;
    
    

}

.search-profile__results{
    background-color: var(--clr-main-dark);
    position: absolute;
    width: 320px;
    display: flex;
    flex-direction: column;
    transition: margin-top 200ms ease-in-out;
    margin-top: -100%;
    z-index: 1;
    box-shadow: 5px 5px 1px 1px rgb(64, 63, 63);
    border-radius: 0 0 7px 7px;
    padding-top: 1em;
}

.search-profile__results__row{
    
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-main-dark);
    padding-inline: 1em;
    padding-block: 0.7em;
    cursor: pointer;
    color: var(--clr-white);
    transition: all 200ms ease-in-out;
}

.search-profile__results__warning{
    color: var(--clr-white);
    background-color: var(--clr-main-dark);
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.search-profile__results__row:hover{
    background-color: antiquewhite;
    color: var(--clr-black);
    box-shadow: 6px 0px 0 0 white;
    z-index: 4;
}


.search-profile__results__row button{
    all: unset;
}


.display-profile{
    background-color: var(--clr-main);
    color: white;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;   
    margin-left: -200vw;
    height: 0;
    transition: all 200ms ease-in-out;
    overflow: hidden;
   

}

.display-profile img{
    border-radius: 15px;
}

.display-profile label input {
    all:unset;
    padding-inline: 0.2em;
}

.display-profile__title{
    display: flex;
    justify-content: space-between;
}

.display-profile__cross{
    cursor: pointer;
    background-color: var(--clr-header-github);
    padding-inline: 0.4em;
    padding-block: 0.1em;
    border-radius: 100px;
    transition: all 200ms ease-in-out;
    border: 2px solid white;
    align-self: center;
    text-align: center;
}

.display-profile__cross:hover{
    color: var(--clr-black);
    background-color: var(--clr-white);
}

.display-profile__main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.display-profile__form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
}

.display-profile__form label{
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    gap: 0.5em;
    white-space: nowrap;
    background-color: var(--clr-main-light);
    padding: 1em;
    align-items: center;
}

.display-profile__form label input{
    all: unset;
    text-align: right;
    border-radius: 15px;
    width: 100%;
}

.display-profile__form__link:hover{
    cursor: pointer;
    color: aqua;
}

.table-wrapper{
    overflow-x: scroll;
    
    position: relative;
}

.repositories-list{
    padding: 1em;
    width: 100%;
    background-color: var(--clr-header-github);
    border-radius: 10px;
    border: 1px solid var(--clr-main-light);
    
}

.repositories-list__head{
    text-align: left;
    white-space: nowrap;
    
}

.repositories-list__row{
    column-gap: auto;
    
    
}
.repositories-list__row td{
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1em;
    padding-block: 0.2em;
}

.repositories-list__row th{
    padding-bottom: 0.5em;
}

.repositories-list__row td, .repositories-list__row th{
    padding-left: 1em;
}

.repositories-list__row th:first-child {
    padding-left: 0;
}

.repositories-list__row td:first-child {
    width: max-content;
    overflow: visible;
    max-width: unset;
    padding-left: 0;
}
.repositories-list__row td:last-child, .repositories-list__row th:last-child{
    max-width: unset;
    text-align: right;
}

.repositories-list__row td:last-child:hover{
    cursor: pointer;
    color: aqua;
}

.repositories-pages{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: fit-content;
    align-self: center;
    border-radius: 15px;
    text-align: center;
    vertical-align: center;
}

.repositories-pages__arrows{
    background-color: var(--clr-main-light);
    padding: 0.5em;
}

.repositories-pages__dots{
    background-color: var(--clr-main-light);
    cursor: default;
    padding: 0.5em;
}

.repositories-pages__page{
    background-color: var(--clr-main-light);
    padding-block: 0.5em;
    padding-inline: 0.7em;
}

.repositories-pages__page:nth-child(even){
    background-color: var(--clr-main-lighter);
}

.repositories-pages__current{
    background-color: var(--clr-main-dark)!important;
    cursor: default!important;
}


.repositories-pages__arrows, .repositories-pages__page{
    cursor: pointer;
}

.repositories-pages__arrows:hover, .repositories-pages__page:hover{
    background-color: var(--clr-header-github);
    transform: scale(1.2);
}

.repositories-pages__current:hover{
    transform: unset;
}

.warning-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 100;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}

.warning-modal div{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-main-dark);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    font-size: larger;
    text-align: center;
    color: var(--clr-white);
    padding: 1em;
    justify-content: space-between;
}

.warning-modal button{
    all: unset;
    background-color: var(--clr-main);
    border-radius: 10px;
    cursor: pointer;
}

.warning-modal button:hover{
    background-color: var(--clr-main-light);
}


@media (min-width:630px){

    .display-profile__form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

    .display-profile__form h1 {
        grid-column: 1 / -1;
    }

    .display-profile img{
        max-width: 25em;
        align-self: center;
    }
}


@media (min-width:769px){

    .display-profile{
        width: 85%;
    }

    .display-profile img{
        max-width: 30em;
        align-self: center;
    }

    .display-profile__form label input{
        max-width: 70%;
        
    }

}

@media (min-width:1125px){
    .display-profile__main{
        flex-direction: row;
        align-items: center;
        gap: 1em;
        font-size: large;
        padding: 1em;
    }

    .display-profile__form{
        margin-top: 0;
        width: 100%;
    }

    .display-profile__form h1 {
        display: none;
    }
    .display-profile img{
        max-width: 14em;
        align-self: center;
    }

    .table-wrapper{
        overflow-x: unset;
    }


    .repositories-list__row td:last-child, .repositories-list__row th:last-child{
        max-width: 14em;
        text-align: right;
    }
}