<!DOCTYPE html>
<html lang="en">
<body>
    <header class="header">
        <div class="header__logo">
            <img src="assets/first-steps.png" alt="Challenge Logo">
        </div>
        <nav class="header__nav">
            <ul class="header__nav__list">
                <li><a href="index.html">Task List</a></li>
                <li><a href="calculator.html">Calculator</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <div>
            <p>First Challenge Applaudo Studios Trainee Program</p>
            <p>Developed By Julian Marc</p>
        </div>
        <a href="https://applaudostudios.com" target="_blank"><img src="assets/applaudo.png"></a>
        <a href="https://github.com/R4vage" target="_blank"> <img src="assets/gitHub.png" class="github-icon"></a>
        <a href="www.linkedin.com/in/julianmarc" target="_blank"><img src="assets/linkedIn.png" class="linkedIn-icon"></a>
    </footer>
    <script src="js/scripts.js"></script>
    <script src="js/scripts.calculator.js" ></script>
</body>

</html>